/*  1. General
    2. Common
    3. Nav Section
    4. Fashion Fits Section
    5. News reel Section
    6. Bag Section
    7. Sign Up Section
    8. Reviews
    9. Media
*/

/** 1. General */

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    letter-spacing: -0.03em;
}

body {
    margin: 0;
    padding: 0;
}

:root { 
    --accent-color: #2945FF;
    --accent-color-active: #1f37cf;
    --header-color: #000545;
    --para-color: #393F4D;
}

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0;
}

/** 2. Common */

.header {
    color: var(--header-color);
    font-weight: 600;
    line-height: 111%;
    margin: 0;
}

.section-name {
    color: var(--accent-color, #2945FF);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.learn-more {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--accent-color, #2945FF);
    margin: 15px 0 0;
    position: relative;
}

.learn-more::after {
    content: "";
    width: 20px;
    border-top: 2px solid;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
}

.padding {
    padding-left: 150px;
    padding-right: 150px;
}

/** 3. Nav Section */

.nav-section {
    width: 100%;
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0;
}

.main-header {
    color: #000;
    font-weight: 600;
    font-size: 26.4043px;
    line-height: 100%;
    margin: 0;
    align-self: flex-start;
    position: relative;
}

.header-dash {
    width: 18px;
    border: 2px solid var(--accent-color);
    position: absolute;
    bottom: 5px;
    left: calc(100% + 4px);
}

.main-header-link {
    text-decoration: none;
}

.navbar {
    display: flex;
    gap: 20px;
    font-size: 0;
    padding-top: 14px;
}

.nav-item-link {
    text-decoration: none;
    background-color: transparent;
    color: #000;
    border: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    padding: 14px 24px;
}

.nav-item-link:visited {
    color: #000;
}

.nav-item-link:hover {
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 24px;
    cursor: pointer;
}

.open-menu {
    display: none;
    appearance: none;
    align-self: center;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url(img/menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    margin-right: 25px;
    padding: 0;
}

.close-menu {
    display: none;
    appearance: none;
    width: 22px;
    height: 22px;
    margin-right: 25px;
    border: none;
    background-image: url(img/x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent
}

/** 4. Fashion Fits Section */

.fashion-fits-section {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.asian-girl-div {
    position: relative;
}

.asian-girl-img {
    width: 100%;
    object-fit: contain;
}

.dots-asian-girl {
    position: absolute;
}

.dots-asian-girl-top {
    top: -5%;
    left: -9%;
    z-index: -1;
}

.dots-asian-girl-bottom {
    bottom: -5%;
    right: -4.8%;
}

.fashion-fits-description {
    max-width: 445px;
}

.fashion-fits-header-1 {
    font-size: 68px;
}

.fashion-fits-header-2 {
    font-size: 51px;
    display: none;
}

.fashion-fits-para {
    color: var(--para-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 25px 0 0;
}

.fashion-fits-learn-more {
    margin: 24px 0 0;
    background-color: var(--accent-color);
    padding: 19px 42px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    max-width: 178px;
    border-radius: 100px;
}

.fashion-fits-learn-more:hover {
    opacity: 0.97;
    box-shadow: 0 0 17px var(--accent-color);
    cursor: pointer;
}

.fashion-fits-learn-more:active {
    background-color: var(--accent-color-active);
}

.fashion-fits-link {
    text-decoration: none;
}

/**  5. News Reel Section */

.news-section {
    width: 100%;
    padding-top: 73px;
}

.update-header {
    margin-top: 26px;
    font-size: 51px;
}

.news-content {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

.news-article {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.news-article:nth-child(2) {
    margin-top: 210px;
    flex-direction: row-reverse;
}

.article-img {
    position: relative;
}

.dots-news-img {
    position: absolute;
    top: -8%;
    left: -9.4%;
    z-index: -1;
}

.article-text {
    display: inline-block;
}

.news-date {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #A5AEED;
    margin-bottom: 3px;
}

.news-article-header-desktop {
    font-size: 68px;
    width: 100%;
    max-width: 430px;
}
.news-article-header-mobile {
    display: none;
}

.news-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--para-color);
    margin: 25px 0 0;
    width: 100%;
    max-width: 395px;
}

.news-article .learn-more {
    margin: 40px 0 0;
}

/** 6. Bag Section */

.bag-section {
    width: 100%;
    padding-top: 285px;
}

.bags-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.know-your-bags {
    font-size: 51px;
}

.bag {
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.bag:hover {
    background-color: var(--accent-color, #2945FF);
    box-shadow: 0px 11px 17px rgba(41, 69, 255, 0.2);
    border-radius: 24px;
    cursor: url(img/cursor.png), auto;
}

.bag:hover .bag-header, 
.bag:hover .bag-para,
.bag:hover .learn-more {
    color: #fff;
}

.link {
    text-decoration: none;
}

.bag-img {
    width: 110px;
    height: 90px;
    object-fit: contain;
}

.bag-types {
    display: flex;
    gap: 65px;
    padding: 100px 0 0;
}

.bag-header {
    margin: 35px 0 0;
    font-size: 24px;
}

.bag-para {
    margin: 16px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

/** 7. Reviews */

.reviews-section {
    padding-top: 170px;
    padding-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0;
}

.reviews-header {
    font-size: 51px;
    max-width: 408px;
    margin-top: 26px;
}

.reviews-content {
    width: 100%;
    padding-top: 68px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 -17px;
}

.reviews-content::-webkit-scrollbar {
    height: 5px;
}

.reviews-content::-webkit-scrollbar-track {
    background-color: #d2d2d2;
    border-radius: 70px;
    box-shadow: inset 0 0 2px #393F4D;
}

.reviews-content::-webkit-scrollbar-thumb {
    background-color: #393F4D;
    border-radius: 70px;
    width: 5px;
}

.reviews-content::-webkit-scrollbar-thumb:hover {
    background-color: #6e6e6e;
}

.review {
    margin: 0 17px;
    width: 90%;
    max-width: 466px;
    background-color: #fff;
    flex-shrink: 0;
    padding: 25px 56px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.745208px solid rgba(219, 179, 120, 0.4);
    border-radius: 12px;
}

.profile-img {
    border-radius: 50%;
}

.reviewer-name {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: var(--header-color);
    margin: 23px 0 0;
}

.item-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--accent-color);
    margin: 13px 0 0;
}
.item-link {
    text-decoration-line: none;
}

.item-link:hover {
    text-decoration-line: underline;
}

.item-link:visited {
    color: var(--accent-color);
}


.review-main {
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;
    color: var(--para-color);
    text-align: center;
    margin: 15px 0 0;
}

.shop-item-btn {
    color: var(--accent-color);
    background-color: transparent;
    font-weight: 600;
    font-size: 17.928px;
    line-height: 100%;
    border: 1px solid var(--accent-color);
    border-radius: 70px;
    padding: 19px 62px;
    margin: 25px 0 0;
}

.shop-item-btn:hover {
    background-color: var(--accent-color);
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 11px 17px rgba(41, 69, 255, 0.2);
}


/** 8. Sign Up Section*/

.sign-up-section {
    width: 100%;
    max-width: 1140px;
    margin-top: 130px;
    position: relative;
}

.sign-up-bg {
    background-image: url(img/boy.png);
    background-size: cover;
    padding-top: 63%;
    position: relative;
}

.sign-up-bg::after {
    content: "";
    width: 93%;
    height: 78%;
    background-color: var(--accent-color);
    position: absolute;
    top: -3.5%;
    right: -3.3%;
    z-index: -1;
}

.dots-sign-up {
    position: absolute;
    z-index: -11;
}

.top-dots-sign-up {
    top: -3.3%;
    left: -1.7%;
}

.bottom-dots-sign-up {
    bottom: -6%;
    right: -3.3%;
}

.sign-up-description {
    position: absolute;
    top: 16%;
    right: 7.5%;
    max-width: 380px;
}

.sign-up-header {
    margin: 0;
    font-weight: 600;
    font-size: 68px;
    line-height: 111%;
    color: #fff;
}

.sign-up-para {
    margin: 15px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

.sign-up-btn {
    margin: 50px 0 0;
    background-color: var(--accent-color);
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    padding: 19px 38px;
    border: none;
    border-radius: 100px;
}

.sign-up-btn:hover {
    opacity: 0.97;
    box-shadow: 0 0 17px var(--accent-color);
    cursor: pointer;
}

.sign-up-btn:active {
    background-color: var(--accent-color-active);
}

/** 9. Media */


@media screen and (max-width: 1279px) {

    .padding {
        padding-left:25px;
        padding-right:25px;
    }

    /** Nav Section */

    .nav-section {
        flex-wrap: wrap;
        padding: 12px 0 0;
        
    }

    .main-header {
        padding-left: 25px;
    }

    .navbar {
        display: none;
        width: 100%;
        padding: 0;
        order: 5;
        flex-direction: column;
        margin-top: 60px;
    }

    .nav-item {
        background-image: url(/img/mobile-menu.png);
        background-position: -60px -30px;
        padding: 0 25px;
    }

    .nav-item:active {
        background-image: none;
        background-color: #fff;
    }

    .nav-item:active .nav-item-link {
        color: var(--accent-color);
    }

    .nav-item-link {
        padding: 0;
        font-weight: 600;
        font-size: 35px;
        line-height: 80px;
        color: #fff;
    }

    .nav-item-link:visited {
        color: #fff;
    }

    .nav-item-link:hover {
        background-color: transparent;
    }

    .open-menu {
        display: initial;
    }

    /** Fashion Fits Section */

    .fashion-fits-section {
        margin: 70px 0 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .asian-girl-div {
        margin: 0 10px;
    }

    .dots-asian-girl {
        width: 25%;
        height: 32%;
    }

    .dots-asian-girl-top {
        top: -5.6%;
        left: -6.7%;
    }

    .fashion-fits-description {
        max-width: none;
    }

    .fashion-fits-header-1 {
        display: none;
    }

    .fashion-fits-header-2 {
        display: block;
    }
    
    .fashion-fits-para {
        font-size: 16px;
        margin: 24px 0 0;
    }
    
    .fashion-fits-learn-more {
        margin: 35px 0 0;
        max-width: none;
        text-align: center;
    }

    .fashion-fits-learn-more:hover {
        opacity: 1;
        box-shadow: none;
    }

    /** News Reel Section */

    .news-section {
        padding-top: 110px;
    }

    .news-article {
        flex-direction: column;
    }

    .news-article:nth-child(2) {
        margin-top: 110px;
        flex-direction: column;
    }

    .news-img {
        width: 100%;
        height: auto;
    }

    .news-content .news-article:first-child .article-img .dots-news-img:nth-child(2) {
        top: -24px;
        right: -15px;
        left: auto;
    }

    .news-content .news-article:first-child .article-img .dots-news-img:nth-child(3) {
        top: auto;
        left: -15px;
        bottom: -24px;
    }

    .news-content .news-article:last-child .article-img .dots-news-img:nth-child(2) {
        top: -24px;
        left: -15px;
    }

    .news-content .news-article:last-child .article-img .dots-news-img:nth-child(3) {
        top: auto;
        bottom: -24px;
        right: -15px;
        left: auto;
    }

    .news-date {
        display: none;
    }

    .news-article-header-desktop {
        font-size: 51px;
        margin-top: 50px;
    }

    .news-article-header-desktop-top {
        display: none;
    }

    .news-article-header-mobile {
        display: block;
        font-size: 51px;
        margin-top: 50px;
    }

    .news-text-bottom {
        display: none;
    }

    .news-article .learn-more {
        margin: 20px 0 0;
    }

    /** Bag Section */

    .bag-section {
        padding: 150px 0 0;
    }

    .bags-header {
        gap: 15px;
        padding-left: 10px;
    }

    .know-your-bags {
        font-size: 38px;
    }

    .bag-types {
        gap: 70px;
        padding: 50px 0 0;
        flex-direction: column;
    }

    .bag {
        padding: 20px;
        align-items: center;
    }

    .bag-para {
        text-align: center;
    }

    .bag-section .learn-more::after {
        left: calc(50% - 10px);
    }

    /** Review Section */

    .reviews-section {
        padding-right: 0;
    }

    .reviews-content::-webkit-scrollbar {
        height: 2px;
    } 

    .reviews-header {
        font-size: 38px;
        max-width: 225px;
        margin-top: 14px;
    }

    .reviews-content {
        padding-top: 24px;
        margin: 0 -7px;
    }
    
    .review {
        margin: 0 7px;
        padding: 17px 17px 24px;
    }

    .reviewer-name {
        font-size: 24px;
        line-height: 32px;
        margin-top: 14px;
    }

    .item-name {
        margin-top: 2px;
    }

    .review-main {
        line-height: 20px;
        margin-top: 9px;
    }

    .shop-item-btn {
        font-size: 12px;
        padding: 17px 94px;
        margin-top: 13px;
    }

    /** Sign Up section */

    .sign-up-section {
        margin-top: 40px;
    }

    .dots-sign-up {
        display: none;
    }

    .sign-up-bg::after {
        display: none;
    }

    .sign-up-description {
        position: static;
        background-color: var(--accent-color);
        padding: 20px 12px;
        max-width: none;
    }

    .sign-up-header {
        font-size: 37px;
    }

    .sign-up-para {
        margin: 6px 0 0;
        font-size: 10px;
        line-height: 173%;
    }

    .sign-up-btn {
        width: 100%;
        background-color: transparent;
        border: 1px solid #fff;
        margin: 20px 0 0;
        font-size: 12px;
        padding: 17px 75px;
    }
}