/*  1. General
    2. Common
    3. Nav Section
    4. Fashion Fits Section
    5. News reel Section
    6. Bag Section
    7. Reviews
    8. Sign Up Section
    9. Brands Section
    10. Latest News Section
    11. Stats Section
    12. Footer
    13. Media
*/

/** 1. General */

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    letter-spacing: -0.03em;
}

:root { 
    --accent-color: #2945FF;
    --accent-color-active: #1f37cf;
    --header-color: #000545;
    --paragraph-color: #393F4D;
    --text-color: #fff;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0;
}

/** 2. Common */

.header {
    color: var(--header-color);
    font-weight: 600;
    line-height: 111%;
    margin: 0;
}

.section-name {
    color: var(--accent-color, #182fc8);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.learn-more {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--accent-color, #2945FF);
    margin: 15px 0 0;
    position: relative;
}

.learn-more::after {
    content: "";
    width: 20px;
    border-top: 2px solid;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
}

.padding {
    padding-left: 150px;
    padding-right: 150px;
}

/** 3. Nav Section */

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header-section a {
    text-decoration: none;
}

.main-header {
    font-weight: 600;
    font-size: 23.1636px;
    line-height: 100%;
    color: #000;
    margin: 0;
    transition: 0.6s;
    position: relative;
}

.main-header::after{
    content: "";
    position: absolute;
    width: 12px;
    border-top: 0.17em solid var(--accent-color);    
    bottom: 2px;
    left: calc(100% + 4px);
}


.menu-btn {
    display: none;
    border: none;
    width: 25px;
    aspect-ratio: 1;
    padding: 0;
    background-image: url(img/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: 0.5s;
}

.navbar {
    list-style: none;
    display: flex;
    margin: 0 -20px;
    padding: 0;
}

.nav-item {
    margin: 0 20px;
    padding: 14px 24px;
    border-radius: 24px;
    height: 100%;
    text-align: center;
}

.nav-item:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.nav-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: #000;
}

.nav-item:hover .nav-link {
    color: var(--text-color);
}

/** 4. Fashion Fits Section */

.fashion-fits-section {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.intro-img-div {
    position: relative;
}

.intro-img {
    width: 100%;
    object-fit: contain;
}

.dots-intro-img {
    position: absolute;
}

.dots-intro-img-top {
    top: -5%;
    left: -9%;
    z-index: -1;
}

.dots-intro-img-bottom {
    bottom: -5%;
    right: -4.8%;
}

.fashion-fits-description {
    max-width: 445px;
}

.fashion-fits-header-1 {
    font-size: 68px;
}

.fashion-fits-header-2 {
    font-size: 51px;
    display: none;
}

.fashion-fits-paragraph {
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 25px 0 0;
}

.fashion-fits-learn-more {
    margin: 24px 0 0;
    background-color: var(--accent-color);
    padding: 19px 42px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    max-width: 178px;
    border-radius: 100px;
}

.fashion-fits-learn-more:hover {
    opacity: 0.97;
    box-shadow: 0 0 17px var(--accent-color);
    cursor: pointer;
}

.fashion-fits-learn-more:active {
    background-color: var(--accent-color-active);
}

.fashion-fits-link {
    text-decoration: none;
}

/**  5. News Reel Section */

.news-section {
    width: 100%;
    padding-top: 73px;
    background-color: #F4F5FF;
}

.update-header {
    margin-top: 26px;
    font-size: 51px;
}

.news-content {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

.news-article {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.news-article:nth-child(2) {
    margin-top: 210px;
    flex-direction: row-reverse;
}

.article-img {
    position: relative;
}

.dots-news-img {
    position: absolute;
    top: -8%;
    left: -9.4%;
    z-index: -1;
}

.article-text {
    display: inline-block;
}

.news-date {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #A5AEED;
    margin-bottom: 3px;
}

.news-article-header-desktop {
    font-size: 68px;
    width: 100%;
    max-width: 430px;
}
.news-article-header-mobile {
    display: none;
}

.news-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--paragraph-color);
    margin: 25px 0 0;
    width: 100%;
    max-width: 395px;
}

.news-article .learn-more {
    margin: 40px 0 0;
}

/** 6. Bag Section */

.bag-section {
    width: 100%;
    padding-top: 285px;
}

.bags-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.know-your-bags {
    font-size: 51px;
}

.bag {
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.bag:hover {
    background-color: var(--accent-color, #2945FF);
    box-shadow: 0px 11px 17px rgba(41, 69, 255, 0.2);
    border-radius: 24px;
    cursor: url(img/cursor.png), auto;
}

.bag:hover .bag-header, 
.bag:hover .bag-paragraph,
.bag:hover .learn-more {
    color: var(--text-color);
}

.link {
    text-decoration: none;
}

.bag-img {
    width: 110px;
    height: 90px;
    object-fit: contain;
}

.bag-types {
    display: flex;
    gap: 65px;
    padding: 100px 0 0;
}

.bag-header {
    margin: 35px 0 0;
    font-size: 24px;
}

.bag-paragraph {
    margin: 16px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

/** 7. Reviews */

.reviews-section {
    padding-top: 170px;
    padding-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0;
    background-color: #FFF9F0;
}

.reviews-header {
    font-size: 51px;
    max-width: 408px;
    margin-top: 26px;
}

.reviews-content {
    width: 100%;
    padding-top: 68px;
    padding-bottom: 7px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 -17px;
}

.reviews-content::-webkit-scrollbar {
    height: 5px;
}

.reviews-content::-webkit-scrollbar-track {
    background-color: #d2d2d2;
    border-radius: 70px;
    box-shadow: inset 0 0 2px #393F4D;
}

.reviews-content::-webkit-scrollbar-thumb {
    background-color: #393F4D;
    border-radius: 70px;
    width: 5px;
}

.reviews-content::-webkit-scrollbar-thumb:hover {
    background-color: #6e6e6e;
}

.review {
    margin: 0 17px;
    width: 90%;
    max-width: 466px;
    background-color: #fff;
    flex-shrink: 0;
    padding: 25px 56px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.745208px solid rgba(219, 179, 120, 0.4);
    border-radius: 12px;
}

.profile-img {
    border-radius: 50%;
}

.reviewer-name {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: var(--header-color);
    margin: 23px 0 0;
}

.item-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--accent-color);
    margin: 13px 0 0;
}
.item-link {
    text-decoration-line: none;
}

.item-link:hover {
    text-decoration-line: underline;
}

.item-link:visited {
    color: var(--accent-color);
}


.review-main {
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;
    color: var(--paragraph-color);
    text-align: center;
    margin: 15px 0 0;
}

.shop-item-btn {
    color: var(--accent-color);
    background-color: transparent;
    font-weight: 600;
    font-size: 17.928px;
    line-height: 100%;
    border: 1px solid var(--accent-color);
    border-radius: 70px;
    padding: 19px 62px;
    margin: 25px 0 0;
}

.shop-item-btn:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    box-shadow: 0px 11px 17px rgba(41, 69, 255, 0.2);
}


/** 8. Sign Up Section*/

.sign-up-section {
    width: 100%;
    padding-top: 130px;
    background-color: #FFF9F0;
    display: flex;
    justify-content: center;
    z-index: -111;
}

.sign-up-bg {
    width: 100%;
    max-width: 1440px;
    position: relative;
}

.sign-up-bg-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.sign-up-bg::after {
    content: "";
    width: 93%;
    height: 78%;
    background-color: var(--accent-color);
    position: absolute;
    top: -3.5%;
    right: -3.3%;
    z-index: -1;
}

.dots-sign-up {
    position: absolute;
    z-index: -11;
}

.top-dots-sign-up {
    top: -3.3%;
    left: -1.7%;
}

.bottom-dots-sign-up {
    bottom: -6%;
    right: -3.3%;
}

.sign-up-description {
    position: absolute;
    top: 16%;
    right: 7.5%;
    max-width: 380px;
}

.sign-up-header {
    margin: 0;
    font-weight: 600;
    font-size: 68px;
    line-height: 111%;
    color: var(--text-color);
}

.sign-up-paragraph {
    margin: 15px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--text-color);
}

.sign-up-btn {
    margin: 50px 0 0;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    padding: 19px 38px;
    border: none;
    border-radius: 100px;
}

.sign-up-btn:hover {
    opacity: 0.97;
    box-shadow: 0 0 17px var(--accent-color);
    cursor: pointer;
}

.sign-up-btn:active {
    background-color: var(--accent-color-active);
}

/** 9. Brands Section */

.brands-section {
    font-size: 0;
    width: 100%;
    padding-top: 250px;
    display: flex;
    flex-direction: column;
}

.brands-header-div {
    max-width: 408px;
}

.brands-header {
    font-size: 51px;
    margin-top: 25px;
}

.brand-logos-div {
    font-size: 0;
    width: 100%;
    display: grid;
    margin: 50px 0 0;
    gap: 24px 20px;
    grid-template-areas: "logo-1 logo-2 logo-3"
                         "logo-4 logo-5 logo-6" ;

}

.brand-link-1 {
    grid-area: logo-1;
}

.brand-link-2 {
    grid-area: logo-2;
}

.brand-link-3 {
    grid-area: logo-3;
}

.brand-link-4 {
    grid-area: logo-4;
}

.brand-link-5 {
    grid-area: logo-5;
}

.brand-link-6 {
    grid-area: logo-6;
}

.brand-logo-link:hover .brand-div {
    background-color: var(--accent-color);
    box-shadow: 0px 13px 20px rgba(41, 69, 255, 0.31);
}

.brand-logo-link:hover .brand-logo-img {
    filter: invert(100%);
}

.brand-div {
    font-size: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 25%;
}

.brand-logo-img {
    width: 100%;
}

/** 10. Latest News Section */

.latest-news-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 104px;
    padding-bottom: 100px;
}

.latest-news-intro-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-news-header {
    font-size: 34px;
}

.latest-news-intro-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--paragraph-color);
    margin: 0;
    max-width: 720px;
    text-align: center;
    margin-top: 20px;
}

.latest-news-content-div {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
}

.latest-news-content-div .img-div {
    margin-left: 48px;
    position: relative;
}

.latest-news-img {
    width: 100%;
}

.latest-news-content-div .img-div .dots {
    position: absolute;
    top: -30px;
    left: -48px;
    z-index: -11;
}

.news-div {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
}

.news-div .news {
    padding: 30px 0;
    border-top: 1px solid #E2E2E2;
    display: flex;
    flex-direction: column;
}

.news-div .news:last-child{
    border-bottom: 1px solid #E2E2E2;;
}

.toggler-header-div {
    display: flex;
    flex-direction: row;
}

.news-div .toggler {
    background-color: var(--accent-color);
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    margin-right: 23px;
    position: relative;
    flex-shrink: 0;
}

.news-div .toggler[condition="open"] {
    background-color: transparent;
    border: 2px solid #DBDBDB;
}

.news-div .toggler:hover {
    cursor: pointer;
    opacity: 0.9;
}

.news-div .toggler .horizontal-line {
    width: 50%;
    height: 4px;
    background-color: var(--text-color);
    position: absolute;
    left: 26%;
    top: calc(50% - 2px);
}

.news-div .toggler[condition="open"] .horizontal-line {
    background-color: var(--accent-color);
}

.news-div .toggler .vertical-line {
    height: 50%;
    width: 4px;
    background-color: var(--text-color);
    position: absolute;
    left: calc(50% - 2px);
    top: 26%;
    display: block;
}

.news-div .toggler[condition="open"] .vertical-line{
    display: none;
}

.news-div .news-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    margin: 0;
    max-width: 370px;
}

.news-div .news-p-part {
    height: 0;
    margin-left: 71px;
    transition: 0.5s;
    overflow: hidden;
}

.news-div .news-p-part[visibility="true"] {
    height: 155px;
    transition: 0.5s;
}

.news-div .news-p-part p {
    display: none;
}

.news-div .news-p-part[visibility="true"] p {
    display: block;
}


.news-div .news-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--paragraph-color);
    margin-top: 14px;
    max-width: 350px;
}

/** 11. Stats Section */

.stats-section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 60px;
    margin: 0 -50px;
    display: flex;
    justify-content: space-between;
    background-color: #F4F5FF;
}

.stat {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    align-items: center;
}

.stat-number {
    font-size: 70px;
    margin: 35px 0 0;
}

.sup {
    font-size: 38px;
}

.stat-info {
    font-weight: 600;
    font-size: 18px;
    line-height: 143%;
    color: var(--accent-color);
    text-align: center;
    margin: 10px 0 0;
}

.stat-text-dark {
    color: var(--header-color);
}

/** 12. Footer */
.footer {
    width: 100%;
    display: flex;
    padding: 65px 200px;
    justify-content: space-between;
    border-bottom: 8px solid var(--accent-color);
}

.footer-logo-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-header {
    font-size: 17px;
}

.copyright-div {
position: relative;

}

.copyright-logo-img {
    width: 100%;
    width: 10px;
    height: 10px;;
    position: absolute;
    bottom: 1px;
    left: 0;
}

.copyright-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--header-color);
    position: relative;
    margin: 9px 0 0 12px;
}

.footer-map-div {
    display: grid;
    grid-template-areas: "shop info social legal";
    gap: 120px;
}

.footer-section-shop {
    grid-area: shop;
}

.footer-section-info {
    grid-area: info;
}

.footer-section-social {
    grid-area: social;
}

.footer-section-legal {
    grid-area: legal;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section-header {
    font-size: 16px;
}

.footer-section-link {
    text-decoration: none;
}

.footer-section-department {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--header-color);
    margin: 10px 0 0;
}

/** 13. Media */


@media screen and (max-width: 1279px) {

    .padding {
        padding-left:25px;
        padding-right:25px;
    }

    /** Header-Nav */
    .header-section {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding: 12px 0 0;
    }
    
    .main-header {
        padding-left: 25px;
    }

    .menu-btn {
    display: block;
    position: absolute;
    top: 12px;
    right: 25px;
    z-index: 11;
    } 

    .menu-btn[menu="open"] {
        border: none;
        width: 20px;
        aspect-ratio: 1;
        padding: 0;
        background-image: url(img/x.png);
        background-size: contain;
        background-repeat: no-repeat;
        transition: 0.5s;
    }

    .main-navigation {
        align-self: flex-end;
        padding: 0;
        background-color: var(--accent-color);
        height: 0;
    }

    .main-navigation[mobile-visibility="true"] {
        padding-top: 40px;
    }

    .navbar {
        flex-direction: column;
        margin: 0;
        display: none;
    }  

    .main-navigation[mobile-visibility="true"] .navbar {
        display: block;
    }

    .nav-item {
        margin: 0;
        padding: 0;
        background-image: url(img/mobile-menu.png);
        background-repeat: no-repeat;
        background-position: 50% 7%;
        border-radius: 0;
    }

    .nav-item:active {
        background-color: var(--text-color);
        background-image: none;
    }

    .nav-link {
        font-size: 35px;
        line-height: 80px;
        color: var(--text-color);
    }

    .nav-item:active .nav-link {
        color: var(--accent-color);
    }

    /** Fashion Fits Section */

    .fashion-fits-section {
        margin: 70px 0 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .intro-img-div {
        margin: 0 10px;
    }

    .dots-intro-img {
        width: 25%;
        height: 32%;
    }

    .dots-intro-img-top {
        top: -5.6%;
        left: -6.7%;
    }

    .fashion-fits-description {
        max-width: none;
    }

    .fashion-fits-header-1 {
        display: none;
    }

    .fashion-fits-header-2 {
        display: block;
    }
    
    .fashion-fits-paragraph {
        font-size: 16px;
        margin: 24px 0 0;
    }
    
    .fashion-fits-learn-more {
        margin: 35px 0 0;
        max-width: none;
        text-align: center;
    }

    .fashion-fits-learn-more:hover {
        opacity: 1;
        box-shadow: none;
    }

    /** News Reel Section */

    .news-section {
        padding-top: 110px;
    }

    .news-article {
        flex-direction: column;
    }

    .news-article:nth-child(2) {
        margin-top: 110px;
        flex-direction: column;
    }

    .news-img {
        width: 100%;
        height: auto;
    }

    .news-content .news-article:first-child .article-img .dots-news-img:nth-child(2) {
        top: -24px;
        right: -15px;
        left: auto;
    }

    .news-content .news-article:first-child .article-img .dots-news-img:nth-child(3) {
        top: auto;
        left: -15px;
        bottom: -24px;
    }

    .news-content .news-article:last-child .article-img .dots-news-img:nth-child(2) {
        top: -24px;
        left: -15px;
    }

    .news-content .news-article:last-child .article-img .dots-news-img:nth-child(3) {
        top: auto;
        bottom: -24px;
        right: -15px;
        left: auto;
    }

    .news-date {
        display: none;
    }

    .news-article-header-desktop {
        font-size: 51px;
        margin-top: 50px;
    }

    .news-article-header-desktop-top {
        display: none;
    }

    .news-article-header-mobile {
        display: block;
        font-size: 51px;
        margin-top: 50px;
    }

    .news-text-bottom {
        display: none;
    }

    .news-article .learn-more {
        margin: 20px 0 0;
    }

    /** Bag Section */

    .bag-section {
        padding: 150px 0 0;
    }

    .bags-header {
        gap: 15px;
        padding-left: 10px;
    }

    .know-your-bags {
        font-size: 38px;
    }

    .bag-types {
        gap: 70px;
        padding: 50px 0 0;
        flex-direction: column;
    }

    .bag {
        padding: 20px;
        align-items: center;
    }

    .bag-paragraph {
        text-align: center;
    }

    .bag-section .learn-more::after {
        left: calc(50% - 10px);
    }

    /** Review Section */

    .reviews-section {
        padding-right: 0;
    }

    .reviews-content::-webkit-scrollbar {
        height: 2px;
    } 

    .reviews-header {
        font-size: 38px;
        max-width: 225px;
        margin-top: 14px;
    }

    .reviews-content {
        padding-top: 24px;
        margin: 0 -7px;
    }
    
    .review {
        margin: 0 7px;
        padding: 17px 17px 24px;
    }

    .reviewer-name {
        font-size: 24px;
        line-height: 32px;
        margin-top: 14px;
    }

    .item-name {
        margin-top: 2px;
    }

    .review-main {
        line-height: 20px;
        margin-top: 9px;
    }

    .shop-item-btn {
        font-size: 12px;
        padding: 17px 94px;
        margin-top: 13px;
    }

    /** Sign Up section */

    .sign-up-section {
        padding: 40px 0 0;
    }

    .dots-sign-up {
        display: none;
    }

    .sign-up-bg::after {
        display: none;
    }

    .sign-up-description {
        position: static;
        background-color: var(--accent-color);
        padding: 20px 12px;
        max-width: none;
    }

    .sign-up-header {
        font-size: 37px;
    }

    .sign-up-paragraph {
        margin: 6px 0 0;
        font-size: 10px;
        line-height: 173%;
    }

    .sign-up-btn {
        width: 100%;
        background-color: transparent;
        border: 1px solid var(--text-color);
        margin: 20px 0 0;
        font-size: 12px;
        padding: 17px 75px;
    }

    /** Brands Section */

    .brands-section {
        padding-top: 135px;
    }

    .brands-header-div {
        max-width: 304px;
    }

    .brands-header {
        font-size: 38px;
        margin-top: 14px;
    }

    .brand-logos-div {
        gap: 16px;
        grid-template-areas: "logo-1 logo-2"
                             "logo-3 logo-4"
                             "logo-5 logo-6";
    }

    .brand-div {
        width: 100%;
        border: 0.42623px solid rgba(0, 0, 0, 0.2);
        border-radius: 8.52459px;
    }

    /** Latest News Section */

    .latest-news-section {
        padding-bottom: 50px;
    }

    .latest-news-content-div {
        flex-direction: column;
        align-items: center;
    }

    .latest-news-content-div .news-div {
        width: 100%;
    }

    .latest-news-content-div .news-div {
        margin: 44px 0 0;
    }

    .news-div .news {
        align-items: center;
    }

    /** Stats Section */

    .stats-section {
        padding-top: 50px;
        margin-top: -70px;
        flex-direction: column;
    }

    .icon-img {
        margin-top: 70px;
    }

    /** Footer */

    .footer {
        padding: 65px 40px 25px;
        flex-direction: column-reverse;
    }

    .footer-logo-div {
        padding-top: 50px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer-map-div {
        grid-template-areas: "shop info"
                             "social legal";
         gap: 80px;
         justify-content: space-between;
    }
}

@media screen and (min-width: 550px) and (max-width:1279px) {
    .main-navigation {
        width: 50%;
    }
}

@media screen and (max-width: 549px){
    .main-navigation {
        width: 100%;
    }
}
